body{
    background-image: url("./assets/0-6-jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-box{
    width: 90%;
    max-width: 450px;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("./assets/pngtree-illustration-of-a-vector-background-with-wavy-lines-in-white-and-png-image_12801594.png");
    padding: 50px, 60px, 70px ;
    opacity: 95%;
    text-align: center;
    border-radius: 30px;
}
.form-box h1{
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
    font-size: 30px;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgb(71, 61, 61), rgb(26, 25, 25));
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaea;
    width: 250px;
    height: 40px;
    margin: 15px , 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(207, 207, 199) 10px;

}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px, 15px;
}
.input-group{
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.button1{
    display: inline-block;
}
.button1 button{
    background: #51ff01;color: rgb(0, 0, 0);
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}